<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <style>
        html{
            background-image: url('/static/brain.avif');
            font-family: 'Roboto';
            font-size: 40px;
            color: white;
        }
        button{
            width: 400px;
            height: 70px;
            border-radius: 15px;
            background-color: lightblue;
            font-size: 35px;
            color: black;
        }
        button:hover{
            background-color: white;
        }
    </style>
</head>
<body>
    <center>
        <h1>Welcome To AI Enabled Alzheimer's Kaggle Diagnosis</h1>

        <div>
            <a href="/diagnose"><button>Begin Diagnosis</button></a>
        </div>
    </center>
</body>
</html>
